
<h1>Friends</h1>

<% if user_signed_in? %>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Social</th>
      <%# <th>User Id</th> %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name , friend %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.social %></td>
        <%# <td><%= friend.user_id%></td> %>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>
<h1>Hello World!!!</h1>
<% end %>